node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.env.development
.env.production
.env.local
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# Local Netlify folder
.netlify

# Drizzle migrations
drizzle/
*.db
